table{
    font-family:'Times New Roman', Times, serif;
    /* margin: 2%,3%,2%,3%; */
    margin-left: 2%;
    margin-top: 4%;
    
}
form{
    margin-top: 4%;
    margin-left: 4%;
}
body{
    background-image: linear-gradient(red, yellow);
}
.lowSales{
    background-color: aqua;
}
.highSales{
    background-color: cadetblue;
}